*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: black;
    color: white
}
header{
    padding:20px;
    width: 100%;
    text-align: center;
    background:black;
}
.experience{
    /* background:red; */
    padding: 30px;
    width: 85%;
    margin:20px  auto;
    background:#808080;
}


h2,.personal-content p{
    font-size:20px;
    word-spacing: 2px;
  font-weight:600;
  margin:5px 0 8px 0;
  color: rgb(75, 75, 155);
}


.experience h4{
    font-size:18px;
    font-weight: 500;
    word-spacing: 2px;
    margin-top:20px;
    text-decoration: underline;
}
li{
     font-size:18px;
    font-weight: 500;
    word-spacing: 2px;
    margin-top:20px;
}
.experience p{
    font-size:20px;
    margin-top:8px;
}
ul{
    margin: 3px;
}